@page
@model SharkGaming.Pages.AdminSite.AdminMotherboardListPageModel
@{
}


<table class="table table-bordered border-black bg-dark text-white">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Name
			</th>
			<th>
				Price
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.motherboards != null)
		{
			foreach (var item in Model.motherboards)
			{
				<tr class="btn-secondary">
					<td>
						@item.Id
					</td>
					<td>
						@item.Name
					</td>
					<td>
						@item.Price
					</td>
					<td>
						<form method="post" class="form-inline">
							<ul class="list-inline m-0">
								<li class="list-inline-item">
									<a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminMotherboardEdit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
								</li>
								<li class="list-inline-item">
									<input type="submit" asp-page-handler="DeleteMotherboardFormJson" asp-route-id="@item.Id" value="Delete" class="btn btn-danger" />
								</li>
							</ul>
						</form>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<div>
    <a asp-page="/AdminSite/AdminMainPage">Back to List</a>
</div>