@page
@model SharkGaming.Pages.ProductInfoPages.ComponentInfoPages.CpuWaterCoolingPage2Model
@{
}

@foreach (var x in Model.cpuWaterCoolings)
{
    if (x.Id == 10)
    {
        <div class="text-center">
            <h1 style="color:white">
                @x.Name
            </h1>
        </div>

        <br />

        <form method="post">
            <div class="row text-center">

                <div class="column col-6">
                    <img src="@x.Img" style="width:65%" />
                </div>

                <div class="column col-6">
                    <h3 style="color:white">Description</h3>
                    <p style="color:white">@x.Description</p>
                    <h1 style="color:chocolate">Price: @x.Price KR.</h1>
                    <input type="submit" asp-page-handler="AddToCart" asp-for="productId" value="Add To Cart" class="btn btn-green" />
                    <input type="hidden" asp-for="productId">
                    <br />
                </div>
            </div>
        </form>


        <table class="table table-bordered center bg-dark text-white" style="width:85%">
            <thead>
                <tr>
                    <th style="width:50%">Specification</th>
                    <th style="width: 50%">Info</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>AMD compatible</td>
                    <td>
                        @if (x.AMDCompatible == true)
                        {
                            <text>True</text>
                        }
                        else
                        {
                            <text>False</text>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Intel compatible</td>
                    <td>
                        @if (x.IntelCompatible == true)
                        {
                            <text>True</text>
                        }
                        else
                        {
                            <text>False</text>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Radiator material</td>
                    <td>@x.RadiatorMaterial</td>
                </tr>
                <tr>
                    <td>Socket</td>
                    <td>@x.Socket</td>
                </tr>
                <tr>
                    <td>Amount of fans</td>
                    <td>@x.FanAmount</td>
                </tr>
                <tr>
                    <td>Thermal design power</td>
                    <td>@x.ThermalDesignPower</td>
                </tr>
                <tr>
                    <td>Size</td>
                    <td>@x.Size</td>
                </tr>
                <tr>
                    <td>Power connector</td>
                    <td>@x.PowerConnector</td>
                </tr>
                <tr>
                    <td>Air flow</td>
                    <td>@x.AirFlow</td>
                </tr>
                <tr>
                    <td>RPM</td>
                    <td>@x.Rpm</td>
                </tr>
                <tr>
                    <td>Square meters pr hour</td>
                    <td>@x.SquareMetersPerHour</td>
                </tr>
                <tr>
                    <td>MMH20</td>
                    <td>@x.MmH20</td>
                </tr>
                <tr>
                    <td>Colour category</td>
                    <td>@x.ColourCatagory</td>
                </tr>
            </tbody>
        </table>
    }
}