@page
@model SharkGaming.Pages.ProductInfoPages.ComponentInfoPages.RamPage2Model
@{
}

@foreach (var x in Model.rams)
{
    if (x.Id == 25)
    {
        <div class="text-center">
            <h1 style="color:white">
                @x.Name
            </h1>
        </div>

        <br />

        <form method="post">
            <div class="row text-center">

                <div class="column col-6">
                    <img src="@x.Img" style="width:65%" />
                </div>

                <div class="column col-6">
                    <h3 style="color:white">Description</h3>
                    <p style="color:white">@x.Description</p>
                    <h1 style="color:chocolate">Price: @x.Price KR.</h1>
                    <input type="submit" asp-page-handler="AddToCart" asp-for="productId" value="Add To Cart" class="btn btn-green" />
                    <input type="hidden" asp-for="productId">
                    <br />
                </div>
            </div>
        </form>


        <table class="table table-bordered center bg-dark text-white" style="width:85%">
            <thead>
                <tr>
                    <th style="width:50%">Specification</th>
                    <th style="width: 50%">Info</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>AMD compatible</td>
                    <td>
                        @if (x.AMDCompatible == true)
                        {
                            <text>True</text>
                        }
                        else
                        {
                            <text>False</text>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Intel compatible</td>
                    <td>
                        @if (x.IntelCompatible == true)
                        {
                            <text>True</text>
                        }
                        else
                        {
                            <text>False</text>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Capacity</td>
                    <td>@x.Capacity</td>
                </tr>
                <tr>
                    <td>Technology</td>
                    <td>@x.Technology</td>
                </tr>
                <tr>
                    <td>Form factor</td>
                    <td>@x.FormFactor</td>
                </tr>
                <tr>
                    <td>Speed</td>
                    <td>@x.Speed</td>
                </tr>
                <tr>
                    <td>Latency timings</td>
                    <td>@x.LatencyTimings</td>
                </tr>
                <tr>
                    <td>Voltage</td>
                    <td>@x.Voltage</td>
                </tr>
                <tr>
                    <td>Colour category</td>
                    <td>@x.ColourCategory</td>
                </tr>
            </tbody>
        </table>
    }
}